body {
    font-size: 18px;
    margin: 0;
    width: 100%;
}

h1 {
    font-family: "IBM Plex Serif", "times new roman", serif;
    font-size: 7vw;
    color: white;
}

h2, h3, h4, li {
    font-family: "Be Vietnam Pro", "sans-serif";
    color: #B83C2C;
}

.main-info h2 {
    line-height: 2rem;
}

p, input, textarea {
    font-family: "Be Vietnam Pro", "sans-serif";
    color: #665B58;
    
}

.button {
    background-color: #B83C2C;
    color: white;
    padding: 1rem 4rem;
    border: .25rem solid #B83C2C;
    border-radius: .25rem;
}

.main {
    position: relative; 
    top: 5rem;
}

.main-info {
    margin: 6rem;
    
}

.h2-descrip {
    margin-bottom: 2rem;
}

/*Nav Bar*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 6rem;
    box-shadow: 0rem .1rem 1rem .1rem black;
    position: fixed;
    background-color: white;
    z-index: 10;
}

header h2 {
    padding-left: 2rem;
}


ul {
    list-style-type: none;
    margin: 0;
    display: flex;
    padding-right: 2rem;
}

nav a {
    text-decoration: none;
    padding-left: .75rem;
}

/*Banner*/
.banner {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr;
    
}

.banner img {
    width: 100%;
    height: auto;
    opacity: 0.5;
    grid-area: 1 / 1 / 4 / 3;
    z-index: 1;
}

.banner h1 {
    height: auto;
    grid-area: 1 / 2 / 3 / 3;
    z-index: 5;
    justify-self: center;
    align-self: center;
}

h1 .hi {
    color: #B83C2C;
}

/*about*/
#about p {
    line-height: 3rem;
}

.description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around
}

.description p {
    flex-basis: 20rem;
    padding-left: 2rem;
}

/*projects*/

#projects {
    margin-top: 10rem;
}

.project-container {
    display: flex;
    justify-content: center;
    padding-bottom: 10rem;
    
}

.projects-container img {
    width: 90%;
    height: auto;
    box-shadow: .5rem .5rem .5rem .5rem darkgrey;
}

@media only screen and (max-width: 60rem) {
    .project-container {
        flex-wrap: wrap;
    }
}

/*contact*/

.contact-method-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap-reverse;
    padding: 3rem;
    /*align-items: center;*/
}

.contact-subtitle {
    margin-bottom: 4rem;
}

.contact-info {
    margin-bottom: 2rem;
}

.contact-info-section {
    padding: 1rem 3rem;
}
/*contact form*/

.form fieldset {
    padding: 2rem 6rem;
    border: .1rem solid #665B58;
    border-radius: .5rem;
}

textarea, input {
    display: block;
    margin-top: 4rem;
}

.form .input {    
    padding: .5rem 4rem .5rem .25rem;
    border-radius: .25rem;
    border: .1rem solid #665B58;
}

input:first-of-type {
    margin-top: 2rem;
}


